<!DOCTYPE html>
<html>
<head>
  <title>RecipeMe</title>
  <link rel="stylesheet" href="/public/assets/application.css.css" />
  <script type="text/javascript" src="/public/assets/bundle.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<header></header>
<nav></nav>
<%= yield %>
<footer></footer>
<script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    <% if user_signed_in? -%>
        RecipeMe.currentUser = new RecipeMe.Models.User(<%= current_user.to_json.html_safe %>)
    <% else -%>
        RecipeMe.currentUser = null;
    <% end -%>
</script>
</body>
</html>
