<!DOCTYPE html>
<html>
<head>
  <title>RecipeMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header></header>
<nav></nav>
<%= yield %>
<footer></footer>
<script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    <% if user_signed_in? -%>
        RecipeMe.currentUser = new RecipeMe.Models.User(<%= current_user.to_json(methods: [:recipes, :comments]).html_safe %>)
    <% else -%>
        RecipeMe.currentUser = null;
    <% end -%>
</script>
</body>
</html>
